
{% extends 'accounts/main.html' %}

{% block content %}
    
<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Barriles</h5>
        </div>
        <div class="card card-body">
           
            <table class="table">
                <tr>
                    <th></th>
                    <th>Barril</th>
                    <th>Estilo</th>
                    <th>Lote</th>
                    <th>Ubicacion</th>
                    <th>Volumen</th>
                    <th>Precio</th>

                </tr>
                
                {% for barril in barriles %}
                
                    <tr>                   
                        <td><input class="form-check-input" type="checkbox" value="{{barril.num_barril}}" id="flexCheckDefault">
                        </div></td>
                        <td>{{barril.num_barril}}</td>
                        <td>{{barril.estilo}}</td>
                        <td>{{barril.lote}}</td>
                        <td>{{barril.ubicacion}}</td>
                        <td>{{barril.volumen}}</td>
                        <td>{{barril.precio}}</td>
                    </tr>
                {% endfor %}
            </table>
            <a class="btn btn-primary  btn-sm btn-block" href="{% url 'update_barril' %}">Modificar</a>
        </div>
        
    </div>
    
</div>

    
 {% endblock %}
    
    