
{% extends 'accounts/main.html' %}

{% block content %}
    
<br>

<div class="row justify-content-center">
    <div class="col-8">
        <div class="card card-body">
            <h5>Toodos los Barriles</h5>
        </div>
        <div class="card card-body">
           
            <table class="table">
                <tr>
                    <th></th>
                    <th>Barril</th>
                    <th>Estilo</th>
                    <th>Lote</th>
                    <th>Ubicacion</th>
                    <th>Volumen</th>
                    <th>Precio</th>
                    <th></th>

                </tr>
                
                {% for barril in barriles %}
                
                    <tr>                   
                        <td>
                            </div class="form-check">
                                <input class="form-check-input" type="checkbox" name="checks[]" value="{{barril.id}}">
                            </div>
                        </td>
                        <td>{{barril.num_barril}}</td>
                        <td>{{barril.estilo}}</td>
                        <td>{{barril.lote}}</td>
                        <td>{{barril.ubicacion}}</td>
                        <td>{{barril.volumen}}</td>
                        <td>{{barril.precio}}</td>
                        <td><a class="btn btn-sm btn-info" type="submit" href="{% url 'update_barril' barril.id %}">Editar</a></td>
                    </tr>
                {% endfor %}
            </table>
            
            <a class="btn btn-primary  btn-sm btn-block" type="submit" href="">Modificar</a>
        </div>
        
    </div>
    
</div>

    
 {% endblock %}
    
    