
{% extends 'accounts/main.html' %}

{% block content %}
    
<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Barriles</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Barril</th>
                    <th>Estilo</th>
                    <th>Lote</th>
                    <th>Ubicacion</th>
                    <th>Volumen</th>
                    <th>Precio</th>
                </tr>

                {% for barril in barriles %}
                    <tr>                   
                        <td>{{barril.num_barril}}</td>
                        <td>{{barril.estilo}}</td>
                        <td>{{barril.lote}}</td>
                        <td>{{barril.ubicacion}}</td>
                        <td>{{barril.volumen}}</td>
                        <td>{{barril.precio}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    
</div>
    
    
 {% endblock %}
    
    