{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ControlBarriles</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Panel de Control</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ingresos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Lotes</a></li>
            <li><a class="dropdown-item" href="#">Estilos</a></li>
           
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Barriles
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">En fábrica</a></li>
            <li><a class="dropdown-item" href="#">En clientes</a></li>
            <li><a class="dropdown-item" href="#">Agregar Barril</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Remitos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Clientes
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Cliente</a></li>
            <li><a class="dropdown-item" href="#">Agregar Cliente</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Fermentadores</a>
        </li>
        
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar Barril" aria-label="Buscar Barril">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>